[LootLockerSettings]
; You can get your api key from https://console.lootlocker.com/settings/api-keys
api_key="dev_d922883dac1544739dc79a6dc066237d"
; You can get your domain key from https://console.lootlocker.com/settings/api-keys
domain_key="giae7hpx"
; The game version must follow a semver pattern. Read more at https://semver.org/
game_version="0.0.1"
; The configured Log Level for LootLocker, Set to "None" to silence LootLocker logs completely
; Possible values are: "Debug", "Verbose", "Info", "Warning", "Error", "None"
logLevel="Info"
